<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="35701Lollus.GPSHikingMate10" Publisher="CN=9B2F7926-7E04-4BF6-BDB8-A8FD12FC5378" Version="1.1.28.0" />
  <mp:PhoneIdentity PhoneProductId="8522254a-9255-4234-9be8-31c48b4e6c5f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>GPS Hiking Mate 10</DisplayName>
    <PublisherDisplayName>Lollus</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LolloGPS.Core.App">
      <uap:VisualElements DisplayName="GPS Hiking Mate 10" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="GPSHikingMate10" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\SquareLogo-310.png" Square71x71Logo="Assets\SquareLogo-284.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="mediumBlue" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.GetLocationBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
            <Task Type="location" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".gpx">
            <uap:DisplayName>GPX</uap:DisplayName>
            <uap:Logo>Assets\Icon.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.gpx</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="removableStorage" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>